/* src/App.css */
.carousel-container {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.slick-list {
  padding-top: 130px !important;
}

.slick-slide img {
  width: 100%;
  border-radius: 10px;
}

.slide-content {
  position: relative;
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
}

.text-overlay h2 {
  margin: 0;
  font-size: 24px;
  color: #fff;
}

.text-overlay p {
  margin: 10px 0;
  font-size: 18px;
}

.slide-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ff7f50;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.slide-button:hover {
  background-color: #ff5733;
}

/* Slick carousel default arrow styles */
.slick-prev:before,
.slick-next:before {
  color: black;
  /* Arrow color */
  font-size: 30px;
  /* Arrow size */
}

/* Position arrows */
.slick-prev {
  left: 10px;
  z-index: 1;
}

.slick-next {
  right: 10px;
  z-index: 1;
}